.background {
    width: 100%;
    height: 50vh;
    background-color: #000000;
    margin-top: 7%;
    margin-bottom: 7%;
}

.containerAbout {
    display: flex;
}

.imagenAbout {
    width: 20vw;
    height: 70vh;
    object-fit: cover;
    position: absolute;
    top: 35%;
    left: 10%;
}

span {
    color: #FFFFFF;
    position: absolute;
    top: 55%;
    left: 35%;
}

@media (max-width: 768px) {

    .background {
        background-color: transparent;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
    
    .containerAbout {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-left: 10vh;
        margin-right: 10vh;
        margin-top: 5vh;
    }
    
    .imagenAbout {
        width: 100%;
        height: auto;
        justify-self: center;
        position: static;
    }
    
    span {
        color: black;
        font-size: small;
        position: static;
        text-justify: inter-word;
        text-align: justify;
        margin-top: 3vh;
    }
}